
/*
	COLOR_defoult     = #ffffff 
	COLOR_hover   = #eeeeee
	COLOR_pressed = #dddddd 
	COLOR_text   = #666666 

	COLOR_choosed   = #ededed 

*/

* {
	background: #ffffff;
	color: #666666;
	border: 1px solid #dddddd;
}

QWidget::item:selected {
	background: #ededed;
}

QCheckBox, QRadioButton {
	border: none;
}

QRadioButton::indicator, QCheckBox::indicator {
	width: 13px;
	height: 13px;
}

QRadioButton::indicator::unchecked, QCheckBox::indicator::unchecked {
	border: 1px solid #dddddd;
	background: none;
}

QRadioButton::indicator:unchecked:hover, QCheckBox::indicator:unchecked:hover {
	border: 1px solid #666666;
}

QRadioButton::indicator::checked, QCheckBox::indicator::checked {
	border: 1px solid #dddddd;
	background: #dddddd;
}

QRadioButton::indicator:checked:hover, QCheckBox::indicator:checked:hover {
	border: 1px solid #666666;
	background: #666666;
}

QGroupBox {
	margin-top: 6px;
}

QGroupBox::title {
	top: -7px;
	left: 7px;
}

QScrollBar {
	border: 1px solid #dddddd;
	background: #ffffff;
}

QScrollBar:horizontal {
	height: 15px;
	margin: 0px 0px 0px 32px;
}

QScrollBar:vertical {
	width: 15px;
	margin: 32px 0px 0px 0px;
}

QScrollBar::handle {
	background: #eeeeee;
	border: 1px solid #dddddd;
}

QScrollBar::handle:horizontal {
	border-width: 0px 1px 0px 1px;
}

QScrollBar::handle:vertical {
	border-width: 1px 0px 1px 0px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::add-line, QScrollBar::sub-line {
	background:#eeeeee;
	border: 1px solid #dddddd;
	subcontrol-origin: margin;
}

QScrollBar::add-line {
	position: absolute;
}

QScrollBar::add-line:horizontal {
	width: 15px;
	subcontrol-position: left;
	left: 15px;
}

QScrollBar::add-line:vertical {
	height: 15px;
	subcontrol-position: top;
	top: 15px;
}

QScrollBar::sub-line:horizontal {
	width: 15px;
	subcontrol-position: top left;
}

QScrollBar::sub-line:vertical {
	height: 15px;
	subcontrol-position: top;
}

QScrollBar:left-arrow, QScrollBar::right-arrow, QScrollBar::up-arrow, QScrollBar::down-arrow {
	border: 1px solid #dddddd;
	width: 3px;
	height: 3px;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

QAbstractButton:hover {
	background: #eeeeee;
}

QAbstractButton:pressed {
	background: #dddddd;
}


QAbstractItemView {
	show-decoration-selected: 1;
	selection-background-color: #ededed;
	selection-color: #666666;
	alternate-background-color: #eeeeee;
}

QHeaderView {
	border: 1px solid #dddddd;
}

QHeaderView::section {
	background: #ffffff;
	border: 1px solid #dddddd;
	padding: 4px;
}

QHeaderView::section:selected, QHeaderView::section::checked {
	background: #eeeeee;
}

QTableView {
	gridline-color: #dddddd;
}

QTabBar {
	margin-left: 2px;
}

QTabBar::tab {
	border-radius: 0px;
	padding: 4px;
	margin: 4px;
}

QTabBar::tab:selected {
	background: #eeeeee;
}

QComboBox::down-arrow {
	border: 1px solid #dddddd;
	background: #eeeeee;
}

QComboBox::drop-down {
	border: 1px solid #dddddd;
	background: #eeeeee;
}

QComboBox::down-arrow {
	width: 3px;
	height: 3px;
	border: 1px solid #dddddd;
}

QAbstractSpinBox {
	padding-right: 15px;
}

QAbstractSpinBox::up-button, QAbstractSpinBox::down-button {
	border: 1px solid #dddddd;
	background: #eeeeee;
	subcontrol-origin: border;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::down-arrow {
	width: 3px;
	height: 3px;
	border: 1px solid #dddddd;
}



QSlider {
	border: none;
}

QSlider::groove:horizontal {
	height: 5px;
	margin: 4px 0px 4px 0px;
}

QSlider::groove:vertical {
	width: 5px;
	margin: 0px 4px 0px 4px;
}

QSlider::handle {
	border: 1px solid #dddddd;
	background: #eeeeee;
}

QSlider::handle:horizontal {
	width: 15px;
	margin: -4px 0px -4px 0px;
}

QSlider::handle:vertical {
	height: 15px;
	margin: 0px -4px 0px -4px;
}

QSlider::add-page:vertical, QSlider::sub-page:horizontal {
	background: #ededed;
}

QSlider::sub-page:vertical, QSlider::add-page:horizontal {
	background: #eeeeee;
}

QLabel {
	border: none;
}

QProgressBar {
	text-align: center;
}

QProgressBar::chunk {
	width: 1px;
	background-color: #ededed;
}

QMenu::separator {
	background: #eeeeee;
}


	
QToolBar {
	background: #aaaaaa;
	padding: 0;
	margin: 0;
	border-top: none;
}

ToolBarButtons { 
	
	padding: 0;
	margin: 0;
	background: #aaaaaa;
	border: none;
	border-bottom: 1px solid #999999;
	height: 60px;
	width: 60px;
	color: #eeeeee;
	font-weight: 700 normal 24px "Impact";
}

ToolBarButtons:hover {
	background: #bbbbbb ;
	color: #ffffff;
}

ToolBarButtons:pressed {
	background: #cccccc;
	color: #ffffff;
}

QPushButton {
	min-height: 30px;

}


